<ion-header>
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!cameraActive">
    <h1>Bienvenido, @usuario</h1>

    <ion-fab horizontal="start" vertical="bottom" slot="fixed">
      <ion-fab-button color="dark">
        <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button (click)="openCamera()" color="light">
          <ion-icon name="qr-code-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>

  <div id="cameraPreview" class="cameraPreview">
    <div *ngIf="cameraActive">
      <ion-button (click)="stopCamera()" expand="block" id="close">
        <ion-icon name="close-circle" slot="icon-only"></ion-icon>
      </ion-button>
      
    </div>
  </div>

</ion-content>