<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="titulo">
  <h1 class="logo">DUOC UC</h1>

  <div class="centerdiv">

  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email Institucional</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row >
      <ion-col>
        <ion-button class="btn btn-primary" type="submit" [routerLink]="['/menu']" expand="block">Iniciar sesión</ion-button>
        <a [routerLink]="['/forgot-password']" class="small-text"> <h5>¿Olvidó su contraseña?</h5> </a>
      </ion-col>
    </ion-row>
  </form>

  </div>
</ion-content>