<ion-header>
  <ion-toolbar>
    <ion-title>qr</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="cameraPreview" class="cameraPreview">
    <div *ngIf="cameraActive">
      <img src="./assets/ionic-light.icon.png" class="image-overlay">

      <ion-button (click)="stopCamera()" expand="block" id="close">
        <ion-icon name="close-circle" slot="icon-only"></ion-icon>
      </ion-button>
      
    </div>
  </div>
  <ion-img [src]="image" *ngIf="image && !cameraActive">a</ion-img>
  
</ion-content>
