<ion-header>
  <ion-toolbar>
    <ion-title>forgot-password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
          [text]="buttonText"
          [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="centerdiv">

    <ion-text color="light">
      <h3>Reestablecer contraseña</h3>
    </ion-text>

    <form>
      <ion-item lines="full">
        <ion-label position="floating">Nombre usuario</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
  
      <ion-row >
        <ion-col>
          <ion-button class="btn btn-primary" type="submit" expand="block">RECUPERAR</ion-button>
        </ion-col>
      </ion-row>
    </form>

  </div>

</ion-content>
